.case-studies-img {
    height: 255px;
    position: relative;

    &.camden-place {
        background: url("../images/camden-paces.jpg") center center no-repeat;
        background-size: cover;
    }
    .btn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: none;
        background: #fd4d00;
        color: #fff;
        font-size: 12px;
        line-height: 34px;
        padding: 0;
        width: 128px;
    }
}

.case-studies-txt {
    height: 255px;
    padding-top: 55px;
    position: relative;
    h3 {
        margin: 0;
    }
    p {
        margin: 0 auto;
    }
    .arrow {
        background: #fff;
        display: inline-block;
        height: 45px;
        width: 45px;
        margin-top: -22.5px;
        position: absolute;
        right: -22.5px;
        top: 50%;
        z-index: 1;
        transform: rotate(45deg);

    }

    &.pull-right {
        .arrow {
            background: #fff;
            display: inline-block;
            height: 45px;
            width: 45px;
            margin-top: -22.5px;
            position: absolute;
            left: -22.5px;
            top: 50%;
            z-index: 1;
            transform: rotate(45deg);

        }
    }
}