.contact-img {
    height: 485px;
    background: url("../images/map.jpg") center center no-repeat;
    background-size: cover;
}
.contact-txt {
    text-align: left;
    margin-left: 50px;
    &.red-bar {
        margin: 0;
    }
    &.mail-svg {
        height: 29px;
        width: 44px;
    }
    h3 {
        font: bold 18px/1 'Pontiac', sans-serif;
        color: #000;
        }
    p {
        font: normal 14px/1 'Myriad Pro', sans-serif;
        color: #222223;
    }    
}


