.sales-pitch {
    background: #282828;
    padding-bottom: 80px;
    h2 {
        font: bold 30px/1 'Pontiac', sans-serif;
        color: #f05627;
        margin: 0;
        padding-top: 44px;
    }
    p {
        color: #e1e1e1;
        font: normal 24px/30px 'Myriad Pro', sans-serif;
    }
    .gray-bar {
        background: #ababab;
        display: inline-block;
        height: 2px;
        margin: 0 15px;
        vertical-align: middle;
        width: 74px;
    }
    .home-icon {
        height: 39px;
        width: 35px;
    }
    .discription {
        font: normal 14px/1.5 'Pontiac', sans-serif;
        padding-top: 31px;
        color: #ababab;
    }
    .areas {
        color: #ababab;
        font: normal 18px/1 'Myriad Pro', sans-serif;
        padding-top: 25px;
    }
}
