.sales-pitch, .about-us, .services, .case, .contact {
    background: #282828;
    padding-bottom: 80px;
    text-align: center;
      
    h2 {
        font: bold 30px/1 'Pontiac', sans-serif;
        color: #f05627;
        margin: 0;
        padding-top: 44px;
        padding-bottom: 17px;
    }
    p {
        color: #e1e1e1;
        font: normal 24px/30px 'Myriad Pro', sans-serif;
    }
    .gray-bar {
        background: #ababab;
        display: inline-block;
        height: 2px;
        margin: 0 15px;
        vertical-align: middle;
        width: 74px;
    }
    .home-icon, .about-icon, .services-icon {
        height: 39px;
        width: 35px;
    }
    .discription {
        font: normal 14px/1.5 'Pontiac', sans-serif;
        padding-top: 31px;
        color: #ababab;
    }
    .about{
        font: normal 14px/1.5 'Pontiac', sans-serif;
        padding-top: 31px;
        color: #fff;
    }
    .areas {
        color: #ababab;
        font: normal 18px/1 'Myriad Pro', sans-serif;
        padding-top: 25px;
    }
}

.about-us {
        padding-bottom: 37px;
    }

.services {
    padding-bottom: 0;
}

.case {
    padding-bottom: 0;
}

.contact {
    padding-bottom: 25px;
    .work {
        margin: 0;
        padding-top: 15px;
        font: normal 14px/1.5 'Pontiac', sans-serif;
        color: #fff;
    }
}
  .scapes {
    background: #474847;
    max-height: 51px;
    h2 {
        font: bold 20px/1 'Pontiac', sans-serif;
        color: #fff;
        padding-top: 17px;
        padding-bottom: 20px;
    }
  }

h3 {
    font: bold 18px/15px 'Pontiac', sans-serif;
    color: #000;
    padding-top: 70px;
    padding-bottom: 10px;
    margin: 0;
    margin-left: 200px;
}

.red-bar {
        background: #f05627;
        display: inline-block;
        height: 2px;
        margin: 0;
        margin-left: 200px;
        width: 90px;

}

.trusted {
    font: normal 14px/1 'Pontaic', sans-serif;
    color: #000;
    padding-top: 20px;
     margin-left: 200px;
}

.bricks {
    padding-top: 65px;
}