.sales-pitch, .about-us, .services, .case, .contact {
    background: #282828;
    padding-bottom: 80px;
    text-align: center;
      
    h2 {
        font: bold 30px/1 'Pontiac', sans-serif;
        color: #f05627;
        margin: 0;
        padding-top: 44px;
        padding-bottom: 17px;
    }

    h3 {
        font: bold 18px/15px 'Pontiac', sans-serif;
        color: #000;
        padding-top: 55px;
        padding-bottom: 25px;
    }
   
    p {
        color: #e1e1e1;
        font: normal 24px/30px 'Myriad Pro', sans-serif;
    }
    .gray-bar {
        background: #ababab;
        display: inline-block;
        height: 2px;
        margin: 0 15px;
        vertical-align: middle;
        width: 74px;
    }
    .home-icon {
        height: 39px;
        width: 35px;
        
    }

    .about-icon {
            height: 46px;
            width: 46px;
        }

    .case-studies-icon {
        width: 30px;
        height: 42px;
    }    
    .services-icon {
        height: 53px;
        width:  55px;
    }
    .contact-icon {
        width: 39px;
        height: 38px;
    }
    
    .discription {
        font: normal 14px/1.5 'Pontiac', sans-serif;
        padding-top: 31px;
        color: #ababab;
    }
    .about{
        font: normal 14px/1.5 'Pontiac', sans-serif;
        padding-top: 31px;
        color: #fff;
    }
    .areas {
        color: #ababab;
        font: normal 18px/1 'Myriad Pro', sans-serif;
        padding-top: 25px;
    }
}

.about-us {
        padding-bottom: 37px;
    }

.services {
    padding-bottom: 0;
}

.case {
    padding-bottom: 0;
}

.contact {
    padding-bottom: 25px;
    .work {
        margin: 0;
        padding-top: 15px;
        font: normal 14px/1.5 'Pontiac', sans-serif;
        color: #fff;
    }
}
  .scapes {
    background: #474847;
    max-height: 51px;
    h2 {
        font: bold 20px/1 'Pontiac', sans-serif;
        color: #fff;
        padding-top: 17px;
        padding-bottom: 20px;
    }
  }
 
.about-grid {
    padding: 50px;
} 


         h3 {
            font: bold 18px/15px 'Pontiac', sans-serif;
            color: #000;
        }

        .red-bar {
                background: #f05627;
                display: inline-block;
                height: 2px;
                width: 90px;
                margin: 20px;
                margin-left: 0;

        }

        .wall-txt, .stone-txt {
            font: normal 14px/1 'Pontaic', sans-serif;
            color: #000;
            width: 385px;
            
        }

        .stone-txt {
            padding-top: 40px;
}
       
        .brick-txt {
            font: normal 14px/1 'pontaic', sans-serif;
            color: #000;
            padding-top: 30px;
            width: 375px
           
            }
.case-studies-txt {
    padding: 0;
    padding-top: 50px;
}

.place-txt {
    font: normal 14px/1 'Myriad Pro', sans-erif;
    color: #000;
    width: 370px;
    padding: 0;

}