.sub-footer {
    background: #282828;
    text-align: center;
    min-height: 230px;
    h4 {
        color: #999999;
        font: bold 18px/1 'Pontianc', 'sans-serif';
    }
    p {
        color: #999999;
        font: normal 14px/1 'Myriad Pro', 'sans-serif';
    }
}