.brand {
    float: none;
    height: 52px;
    width: 153px;
    img {
        height: 52px;
        width: 153px;
    }
}

.navbar {
    background: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0;
    padding-bottom: 0;
}

.navbar-default {
    .navbar-nav> {
        .active> {
            a,
            a:active,
            a:focus,
            a:hover {
                background-color: #f05627;
                color: #fff;
            }
        }
    }
}
