.spaces, .hardscapes {
    background: #fff;
    border: solid 1px #e5e5e5;
    border-bottom: solid 5px #5f5e5e; 
    display: inline-block;
    padding: 45px 0 30px;
    width: 500px;
    
    h2 {
        margin: 0px;
        font: bold 18px/1 'Pontiac', sans-serif;
        color: #000;
    }

    p {
        padding-top: 23px;
        padding-bottom: 26px;
        font: normal 14px/normal 'Myriad Pro', 'sans-serif';
        color: #282828;
        margin: 0 auto;
        width: 330px;
    }
    
    .learn-button {
        border: none;
        background: #f05627;
        color: #fff;
        font-size: 12px;
        line-height: 34px;
        padding: 0;
        width: 128px;
    }
    
}

.spaces {
    margin-right: 15px;
}

.hardscapes {
    margin-left: 15px;
}


.public {
    padding: 0;
    margin-top: -50px;
    text-align: center;
}

.png {
    background: url(./assets/images/ICPI_bg.jpg);
}

@media(max-width: 720px) {
    .spaces, .hardscapes {
        margin: 0;
        width: 100%;
    }
}    