.info {
    background: #282828;
    min-height: 230px;
    padding-top: 55px;
    margin-left: 85px;

    h4 {
        color: #999999;
        font: bold 18px/15px 'Pontianc', 'sans-serif';
    }
    p {
        color: #999999;
        font: normal 14px/1 'Myriad Pro', 'sans-serif';
    }
}