/************************
**      Web Fonts      **
************************/
@font-face {
  font-family: 'Pontiac';
  src: url("../fonts/Pontiac/Web Fonts/Regular/pontiac_regular-webfont.eot");
  src: url("../fonts/Pontiac/Web Fonts/Regular/pontiac_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Pontiac/Web Fonts/Regular/pontiac_regular-webfont.woff") format("woff"), url("../fonts/Pontiac/Web Fonts/Regular/pontiac_regular-webfont.woff2") format("woff2"), url("../fonts/Pontiac/Web Fonts/Regular/pontiac_regular-webfont.ttf") format("truetype"), url("../fonts/Pontiac/Web Fonts/Regular/pontiac_regular-webfont.svg#fontname") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Pontiac';
  src: url("../fonts/Pontiac/Web Fonts/Regular-Italic/pontiac_regular_italic-webfont.eot");
  src: url("../fonts/Pontiac/Web Fonts/Regular-Italic/pontiac_regular_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Pontiac/Web Fonts/Regular-Italic/pontiac_regular_italic-webfont.woff") format("woff"), url("../fonts/Pontiac/Web Fonts/Regular-Italic/pontiac_regular_italic-webfont.woff2") format("woff2"), url("../fonts/Pontiac/Web Fonts/Regular-Italic/pontiac_regular_italic-webfont.ttf") format("truetype"), url("../fonts/Pontiac/Web Fonts/Regular-Italic/pontiac_regular_italic-webfont.svg#fontname") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Pontiac';
  src: url("../fonts/Pontiac/Web Fonts/Light-Italic/pontiac_light_italic-webfont.eot");
  src: url("../fonts/Pontiac/Web Fonts/Light-Italic/pontiac_light_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Pontiac/Web Fonts/Light-Italic/pontiac_light_italic-webfont.woff") format("woff"), url("../fonts/Pontiac/Web Fonts/Light-Italic/pontiac_light_italic-webfont.woff2") format("woff2"), url("../fonts/Pontiac/Web Fonts/Light-Italic/pontiac_light_italic-webfont.ttf") format("truetype"), url("../fonts/Pontiac/Web Fonts/Light-Italic/pontiac_light_italic-webfont.svg#fontname") format("svg");
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: 'Pontiac';
  src: url("../fonts/Pontiac/Web Fonts/Light/pontiac_light-webfont.eot");
  src: url("../fonts/Pontiac/Web Fonts/Light/pontiac_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Pontiac/Web Fonts/Light/pontiac_light-webfont.woff") format("woff"), url("../fonts/Pontiac/Web Fonts/Light/pontiac_light-webfont.woff2") format("woff2"), url("../fonts/Pontiac/Web Fonts/Light/pontiac_light-webfont.ttf") format("truetype"), url("../fonts/Pontiac/Web Fonts/Light/pontiac_light-webfont.svg#fontname") format("svg");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Pontiac';
  src: url("../fonts/Pontiac/Web Fonts/Bold-Italic/pontiac_bold_italic-webfont.eot");
  src: url("../fonts/Pontiac/Web Fonts/Bold-Italic/pontiac_bold_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Pontiac/Web Fonts/Bold-Italic/pontiac_bold_italic-webfont.woff") format("woff"), url("../fonts/Pontiac/Web Fonts/Bold-Italic/pontiac_bold_italic-webfont.woff2") format("woff2"), url("../fonts/Pontiac/Web Fonts/Bold-Italic/pontiac_bold_italic-webfont.ttf") format("truetype"), url("../fonts/Pontiac/Web Fonts/Bold-Italic/pontiac_bold_italic-webfont.svg#fontname") format("svg");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'Pontiac';
  src: url("../fonts/Pontiac/Web Fonts/Bold/pontiac_bold-webfont.eot");
  src: url("../fonts/Pontiac/Web Fonts/Bold/pontiac_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Pontiac/Web Fonts/Bold/pontiac_bold-webfont.woff") format("woff"), url("../fonts/Pontiac/Web Fonts/Bold/pontiac_bold-webfont.woff2") format("woff2"), url("../fonts/Pontiac/Web Fonts/Bold/pontiac_bold-webfont.ttf") format("truetype"), url("../fonts/Pontiac/Web Fonts/Bold/pontiac_bold-webfont.svg#fontname") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Pontiac';
  src: url("../fonts/Pontiac/Web Fonts/Black-Italic/pontiac_black_italic-webfont.eot");
  src: url("../fonts/Pontiac/Web Fonts/Black-Italic/pontiac_black_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Pontiac/Web Fonts/Black-Italic/pontiac_black_italic-webfont.woff") format("woff"), url("../fonts/Pontiac/Web Fonts/Black-Italic/pontiac_black_italic-webfont.woff2") format("woff2"), url("../fonts/Pontiac/Web Fonts/Black-Italic/pontiac_black_italic-webfont.ttf") format("truetype"), url("../fonts/Pontiac/Web Fonts/Black-Italic/pontiac_black_italic-webfont.svg#fontname") format("svg");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'Pontiac';
  src: url("../fonts/Pontiac/Web Fonts/Black/pontiac_black-webfont.eot");
  src: url("../fonts/Pontiac/Web Fonts/Black/pontiac_black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Pontiac/Web Fonts/Black/pontiac_black-webfont.woff") format("woff"), url("../fonts/Pontiac/Web Fonts/Black/pontiac_black-webfont.woff2") format("woff2"), url("../fonts/Pontiac/Web Fonts/Black/pontiac_black-webfont.ttf") format("truetype"), url("../fonts/Pontiac/Web Fonts/Black/pontiac_black-webfont.svg#fontname") format("svg");
  font-weight: 900;
  font-style: italic; }
.brand {
  float: none;
  height: 52px;
  width: 153px; }
  .brand img {
    height: 52px;
    width: 153px; }

.navbar {
  background: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0;
  padding-bottom: 0; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:active,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: #f05627;
  color: #fff; }

.carousel {
  margin: 0 auto;
  max-height: 318px;
  overflow: hidden;
  width: 100%; }
  .carousel .carousel-inner {
    max-height: 318px; }
  .carousel .item {
    max-height: 318px; }
    .carousel .item img {
      width: 100%; }

.sales-pitch, .about-us, .services, .case, .contact {
  background: #282828;
  padding-bottom: 80px;
  text-align: center; }
  .sales-pitch h2, .about-us h2, .services h2, .case h2, .contact h2 {
    font: bold 30px/1 'Pontiac', sans-serif;
    color: #f05627;
    margin: 0;
    padding-top: 44px;
    padding-bottom: 17px; }
  .sales-pitch h3, .about-us h3, .services h3, .case h3, .contact h3 {
    font: bold 18px/15px 'Pontiac', sans-serif;
    color: #000;
    padding-top: 55px;
    padding-bottom: 25px; }
  .sales-pitch p, .about-us p, .services p, .case p, .contact p {
    color: #e1e1e1;
    font: normal 24px/30px 'Myriad Pro', sans-serif; }
  .sales-pitch .gray-bar, .about-us .gray-bar, .services .gray-bar, .case .gray-bar, .contact .gray-bar {
    background: #ababab;
    display: inline-block;
    height: 2px;
    margin: 0 15px;
    vertical-align: middle;
    width: 74px; }
  .sales-pitch .home-icon, .about-us .home-icon, .services .home-icon, .case .home-icon, .contact .home-icon {
    height: 39px;
    width: 35px; }
  .sales-pitch .about-icon, .about-us .about-icon, .services .about-icon, .case .about-icon, .contact .about-icon {
    height: 46px;
    width: 46px; }
  .sales-pitch .case-studies-icon, .about-us .case-studies-icon, .services .case-studies-icon, .case .case-studies-icon, .contact .case-studies-icon {
    width: 30px;
    height: 42px; }
  .sales-pitch .services-icon, .about-us .services-icon, .services .services-icon, .case .services-icon, .contact .services-icon {
    height: 53px;
    width: 55px; }
  .sales-pitch .contact-icon, .about-us .contact-icon, .services .contact-icon, .case .contact-icon, .contact .contact-icon {
    width: 39px;
    height: 38px; }
  .sales-pitch .discription, .about-us .discription, .services .discription, .case .discription, .contact .discription {
    font: normal 14px/1.5 'Pontiac', sans-serif;
    padding-top: 31px;
    color: #ababab; }
  .sales-pitch .about, .about-us .about, .services .about, .case .about, .contact .about {
    font: normal 14px/1.5 'Pontiac', sans-serif;
    padding-top: 31px;
    color: #fff; }
  .sales-pitch .areas, .about-us .areas, .services .areas, .case .areas, .contact .areas {
    color: #ababab;
    font: normal 18px/1 'Myriad Pro', sans-serif;
    padding-top: 25px; }

.about-us {
  padding-bottom: 37px; }

.services {
  padding-bottom: 0; }

.case {
  padding-bottom: 0; }

.contact {
  padding-bottom: 25px; }
  .contact .work {
    margin: 0;
    padding-top: 15px;
    font: normal 14px/1.5 'Pontiac', sans-serif;
    color: #fff; }

.scapes {
  background: #474847;
  max-height: 51px; }
  .scapes h2 {
    font: bold 20px/1 'Pontiac', sans-serif;
    color: #fff;
    padding-top: 17px;
    padding-bottom: 20px; }

.about-grid {
  padding: 50px; }

h3 {
  font: bold 18px/15px 'Pontiac', sans-serif;
  color: #000; }

.red-bar {
  background: #f05627;
  display: inline-block;
  height: 2px;
  width: 90px;
  margin: 20px;
  margin-left: 0; }

.wall-txt, .stone-txt {
  font: normal 14px/1 'Pontaic', sans-serif;
  color: #000;
  width: 385px; }

.stone-txt {
  padding-top: 40px; }

.brick-txt {
  font: normal 14px/1 'pontaic', sans-serif;
  color: #000;
  padding-top: 30px;
  width: 375px; }

.case-studies-txt {
  padding: 0;
  padding-top: 50px; }

.place-txt {
  font: normal 14px/1 'Myriad Pro', sans-erif;
  color: #000;
  width: 370px;
  padding: 0; }

.sub-footer {
  background: #282828;
  min-height: 230px;
  padding-top: 60px; }
  .sub-footer h4 {
    color: #999999;
    font: bold 18px/1 'Pontianc', 'sans-serif'; }
  .sub-footer p {
    color: #999999;
    font: normal 14px/1 'Myriad Pro', 'sans-serif';
    margin: 0;
    width: 290px; }

.footer {
  background: #000;
  min-height: 130px; }
  .footer p {
    color: #8a8d8f;
    font: bold 12px/1 'mayriad pro', 'sans-serif';
    margin: 0px;
    padding-top: 60px; }
  .footer .footer-social {
    padding-top: 50px;
    padding-left: 111px; }
  .footer img {
    height: 33px;
    width: 33px; }
  .footer .cert {
    display: inline-block;
    height: 50px;
    width: 51px;
    margin-right: 15px;
    margin-top: 40px; }

.icon {
  padding-right: 6px; }

.spaces, .hardscapes {
  background: #fff;
  border: solid 1px #e5e5e5;
  border-bottom: solid 5px #5f5e5e;
  display: inline-block;
  padding: 45px 0 30px;
  width: 500px; }
  .spaces h2, .hardscapes h2 {
    margin: 0px;
    font: bold 18px/1 'Pontiac', sans-serif;
    color: #000; }
  .spaces p, .hardscapes p {
    padding-top: 23px;
    padding-bottom: 26px;
    font: normal 14px/normal 'Myriad Pro', 'sans-serif';
    color: #282828;
    margin: 0 auto;
    width: 330px; }
  .spaces .learn-button, .hardscapes .learn-button {
    border: none;
    background: #f05627;
    color: #fff;
    font-size: 12px;
    line-height: 34px;
    padding: 0;
    width: 128px; }

.spaces {
  margin-right: 15px; }

.hardscapes {
  margin-left: 15px; }

.public {
  padding: 0;
  margin-top: -50px;
  text-align: center; }

.png {
  background: url(./assets/images/ICPI_bg.jpg); }

.carousel-indicators li {
  background: #fff;
  border: none;
  opacity: .20; }
  .carousel-indicators li.active {
    background: #f05627;
    opacity: 1; }

.carousel-caption {
  bottom: inherit;
  top: 50%;
  transform: translateY(-50%); }
  .carousel-caption h2 {
    line-height: 1;
    margin-top: 0; }
  .carousel-caption .btn {
    background: #f05627;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-size: 12px;
    margin-top: 50px;
    text-shadow: none; }

@media (max-width: 720px) {
  .spaces, .hardscapes {
    margin: 0;
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
